
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 10vh;
    background-color: #C5D6B5;
    font-size: 1.3vw;
}

.navbarList{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navbarList li{
    list-style: none;
}

.navbarList li:hover{
    font-weight: bold;
    cursor: pointer;
}

.logoNavbar{
    width: 20%;
    display: flex;
    justify-content: start;
    margin: 10px 0px !important;
}

.logoNavbar img{
    width: 90px;
    height: auto;
    transition: .5s;
}

.logoNavbar img:hover{
    width: 86px;
    padding: 1.9px 0px !important;
    cursor: pointer;
}
