.itemDetailPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonToHomePage{
    width: 100%;
    background-color: #3D403A;
    padding: 5px !important;
    color: rgba(225, 235, 216, 1);
    margin: 40px 20px 10px 20px !important;
    border-radius: 8px;
    border: #3D403A solid 2px;
    cursor: pointer;
}

.buttonToHomePage:hover{
    background: repeating-linear-gradient(
        45deg,#575b54 20px,#575b54 40px,#3d403a 40px,#3d403a 60px
    );
}
