.footer{
    background-color: #3D403A;
    color: white;
    margin-top: 200px !important;
    display: grid;
    place-items: center;
    width: 100%;
    grid-template-areas:
        "quienessomos redes"
        "derechos derechos";
        
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50% 50%;
}

.quienes-somos{
    grid-area: quienessomos;
    margin: auto;
    text-align: justify;
    padding: 20px !important;
}

.redes{
    grid-area: redes;
    margin: auto;
    text-align: center;
    padding: 20px !important;
}

.derechos{
    grid-area: derechos;
    font-size: 0.8rem;
    color: rgba(225,235,216,1);
}

.quienes-somos img{
    width: 45% !important;
    height: auto;
    margin-bottom: 15px !important;
}

.quienes-somos p{
    font-size: 1rem;
    color: rgba(225,235,216,1);
}

.redes ul{
    list-style: none;
}

.redes ul li{
    font-size: 1rem;
    margin: 5px !important;
    color: rgba(225,235,216,1);
}

.redes h3{
    font-size: 1.4vw;
    letter-spacing: 1.3px;
    color: rgba(225,235,216,1);
}

.gracias{
    padding-top: 8px !important;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: rgba(225,235,216,1);
}
