@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: 'Questrial', sans-serif;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.toastify{
  padding: 6px !important;
  background: #3D403A !important;
  color: white !important;
}


